/* CSS */
.portaltype-pdftheme .eea-pdf-thumb,
.portaltype-pdftool .eea-pdf-thumb {
  float: left;
  padding: 0.5em 1em 0.5em 0;
}

.portaltype-pdftool .tileItem {
  clear: both;
}

.portaltype-pdftheme div.documentByLine,
.portaltype-pdftool div.documentByLine {
  display: none ! important;
}

.portaltype-pdftheme .documentActions,
.portaltype-pdftool .documentActions {
  display: none;
}

.eea-pdf-email input[type=email] {
  width: 100%;
  height: 30px;
  max-width: 520px;
}

.eea-pdf-email ::-webkit-input-placeholder {
  padding-right: 3px;
  text-align: right;
}
.eea-pdf-email  :-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-pdf-email ::-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-pdf-email :-ms-input-placeholder {
  padding-right: 3px;
  text-align: right;
}


.eea-pdf-email .formHelp {
  font-size: 90%;
  color: #808285;
}

.eea-pdf-email textarea[name=body] {
  visibility: hidden;
}

.eea-pdf-email .context {
  min-height: 30px;
  padding: 7px 11px;
}

.eea-pdf-message a {
  margin: 0 0.5em;
}

.eea-pdf-message .link-pdf {
  overflow: hidden;
  display: block;
}

#content-core .eea-pdf-body dt,
.eea-pdf-body dt {
  display: inline;
}

.eea-pdf-body dt:before {
  content: '';
  display: block;
}

#content-core .eea-pdf-body dd,
.eea-pdf-body dd {
  display: inline;
  margin: 0;
}
