/* CSS */
.portaltype-pdftheme .eea-pdf-thumb,
.portaltype-pdftool .eea-pdf-thumb {
  float: left;
  padding: 0.5em 1em 0.5em 0;
}

.portaltype-pdftool .tileItem {
  clear: both;
}

.portaltype-pdftheme div.documentByLine,
.portaltype-pdftool div.documentByLine {
  display: none ! important;
}

.portaltype-pdftheme .documentActions,
.portaltype-pdftool .documentActions {
  display: none;
}

.eea-pdf-email input[type=email] {
  min-width: 90%;
  height: 30px;
}

.eea-pdf-email .formHelp {
}

.eea-pdf-email textarea[name=body] {
  visibility: hidden;
}

.eea-pdf-email .context {
  min-height: 30px;
}
