[buildout]
extends = versions.cfg
package-name = eea.pdf
develop = ../../
also-develop =
  eea.converter

parts += wkhtmltopdf

[wkhtmltopdf]
recipe = hexagonit.recipe.download
url = http://eggrepo.eea.europa.eu/pypi/wkhtmltopdf/wkhtmltopdf.tgz

[instance]
environment-vars +=
    WKHTMLTOPDF_PATH ${wkhtmltopdf:location}/wkhtmltopdf
